@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("./header.css");
@import url("./main.css");
@import url("./footer.css");
@import url("./blog.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    font-size: 14px;
    background: #f4f4f4;
    position: relative;
    line-height: 1.6;
}

.container {
  align: center;
  width: 100%;
  margin: 20px 0;
  margin-right: 20px;
}

nav ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: red;
    cursor: pointer;
}

img {
    width: 200px;
}

@media (min-width: 600px) {
    body {
        font-size: 16px;
    }
}